body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Deez:hover{
  transform: scale(1.2);

}
.abc{
  padding-top: 50px;
  padding-bottom: 50px;
}
.abc:hover{
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgb(224, 123, 0);
  color: rgb(255, 255, 255);
 
}
.abcd{
  color:orange;
}
.abcd:hover{
  color:white;
}